<div class = "header">
    <h1>Documents</h1>
    <div class="add-button"><fa-icon [icon] = "faPlus"></fa-icon></div>
</div>
<div class = "rectangle">
    <div class = "Document">
        <div><h3>Visit Note</h3><h4>08/05/2021</h4></div>
        <fa-icon class="download" [icon] = "faCloudArrowDown"></fa-icon>
    </div>
    <div class = "Document">
        <div><h3>Superbill</h3><h4>07/05/2021</h4></div>
        <fa-icon class="download" [icon] = "faCloudArrowDown"></fa-icon>
    </div>
    <div class = "Document">
        <div><h3>Path Report</h3><h4>01/05/2021</h4></div>
        <fa-icon class="download" [icon] = "faCloudArrowDown"></fa-icon>
    </div>
    <div class = "Document">
        <div><h3>Plan of Care</h3><h4>07/05/2021</h4></div>
        <fa-icon class="download" [icon] = "faCloudArrowDown"></fa-icon>
    </div>
    <div class = "Document">
        <div><h3>Visit Note</h3><h4>01/05/2021</h4></div>
        <fa-icon class="download" [icon] = "faCloudArrowDown"></fa-icon>
    </div>
</div>
<h2>View All Documents</h2>