<div class = "header">
    <div class = "col-1 d-flex justify-content-between">
        <fa-icon class=" ms-5" [icon]="faBars"></fa-icon>
        <fa-icon class="pe-3" [icon]="faMagnifyingGlass"></fa-icon>
    </div>
    <div class="col-5">
        <input type="search" placeholder="Search for appointments, patients, tasks, reports etc.">
    </div>
    <div class = "col-3">

    </div>
    <div class = "col-1 d-flex">
        <div class=" me-2 circle">
            <fa-icon [icon]="faEnvelope"></fa-icon>
        </div>
        <div class="ms-2 circle">
            <fa-icon [icon]="faBell"></fa-icon>
        </div>

    </div>
    <div class = "col-2 d-flex">
        <div class = "title">
            <h1>Dr.John Doe</h1>
            <h2>Practitioner - MBBS, MD </h2>
        </div>
        <div class="profile">
            <div class="circle">
                <fa-icon [icon]="faUser"></fa-icon>
            </div>
        </div>
    </div>
</div>