<h1>Last Visit</h1>
<div class = "rectangle">
    <div class = "Date-Type">
        <div class = "Date"><h3>Date</h3><h4>01/07/2022</h4></div>
        <div class = "Type"><h3>Type</h3><h4>Skin Tightening</h4></div>
    </div>
    <div class = "Reason"><h3>Reason</h3><p>Lorem ipsum dolor sit amet consectet piscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br>Dolor sit amet consectet piscing elit, sed do eiusmod tempor incididunt ut labore et.</p></div>
</div>
<h2>All Visits</h2>
