<div class = "cont">
    <div class ="rating-burger">
            <fa-icon class="star" [icon] = "faStar"></fa-icon>
            <p>3.5</p>
            <fa-icon class="burger" [icon] = "faBars"></fa-icon>
    </div>
    <div class="profile">
        <div class="circle">
            <fa-icon class= "profile-pic" [icon] = "faUser"></fa-icon>
        </div>
        <h2>Angela Nurhayati</h2>
    </div>
    <div class = "nav1">
        <div><fa-icon [icon] = "faHashtag"></fa-icon><h1>MRN 76994</h1></div>
        <div><fa-icon [icon] = "faCakeCandles"></fa-icon><h1>11/22/1972</h1></div>
        <div><fa-icon [icon] = "faMarsAndVenus"></fa-icon><h1>Female</h1></div>
        <div><fa-icon [icon] = "faMobileScreenButton"></fa-icon><h1>(454) 555-3434</h1></div>
        <div><fa-icon [icon] = "faPhone"></fa-icon><h1>(954) 499-6900</h1></div>
        <div><fa-icon [icon] = "faStethoscope"></fa-icon><h1>Dr. John Doe, PA-C</h1></div>
        <div><fa-icon [icon] = "faIdCard"></fa-icon><h1>Blue Cross Blue Shield</h1></div>
        <div><fa-icon [icon] = "faEnvelope"></fa-icon><h1>angelan@gmail.com</h1></div>
    </div>
    <div class= "actions">
        <div><fa-icon [icon] = "faHandHoldingDollar"></fa-icon><h1>Create Cosmetic UAC</h1></div>
        <div><fa-icon [icon] = "faLink"></fa-icon><h1>Send Portal Link</h1></div>
        <div><fa-icon [icon] = "faCommentSms"></fa-icon><h1>Send Text</h1></div>
    </div>
</div>
