<div class="container-fluid">
    <div class="row">
        <app-sidebar class="col-2"></app-sidebar>
        <div class="col-10">
            <div class="row">
                <app-header class = "col-12"></app-header>
            </div>
            <div class="row">
                <div class = "Patient-Dashboard-Title"><h1>Patient Dashboard</h1></div>
            </div>
            <div class = "row">
                <app-patient-info class="col-3"></app-patient-info>
                <app-dashboard-body class = 'col-9'></app-dashboard-body>
            </div>
        </div>
    </div>
</div>




