<div class = "header">
    <h1>Contacts</h1>
    <div class="add-button"><fa-icon [icon] = "faPlus"></fa-icon></div>
</div>
<div class = "rectangle">
    <div class = "contact">
        <div class = "add-button" id = "c1"><p>MN</p></div>
        <div>
            <h3>Mark Nurhayati</h3>
            <div class = "info">
                <h4>Husband</h4>
                <div class = "dot"></div>
                <h4>Insured</h4>
            </div>
        </div>
    </div>
    <div class = "contact">
        <div class = "add-button" id = "c2"><p>SN</p></div>
        <div>
            <h3>Steve Nurhayati</h3>
            <div class = "info">
                <h4>Children</h4>
                <div class = "dot"></div>
                <h4>Insured</h4>
            </div>
        </div>
    </div>
    <div class = "contact">
        <div class = "add-button" id="c3"><p>SN</p></div>
        <div>
            <h3>Suez Nurhayati</h3>
            <div class = "info">
                <h4>Children</h4>
                <div class = "dot"></div>
                <h4>Insured</h4>
            </div>
        </div>
    </div>
</div>
<h2>View All Contacts</h2>