<div class = "logo">
    <img src = "assets/Ederm.PNG" alt = "Ederm Logo">
</div>
<div class = "buttons">
    <div><fa-icon [icon] = "faGauge"></fa-icon><h1>Dashboard</h1></div>
    <div><fa-icon [icon] = "faCalendarDays"></fa-icon><h1>Schedule</h1></div>
    <div><fa-icon [icon] = "faUser"></fa-icon><h1>Patients</h1></div>
    <div><fa-icon [icon] = "faReceipt"></fa-icon><h1>Billing</h1></div>
    <div><fa-icon [icon] = "faClipboardList"></fa-icon><h1>Tasks</h1></div>
    <div><fa-icon [icon] = "faFilePrescription"></fa-icon><h1>ePrescribing</h1></div>
    <div><fa-icon [icon] = "faMicroscope"></fa-icon><h1>Pathology</h1></div>
    <div><fa-icon [icon] = "faFile"></fa-icon><h1>Document Managment</h1></div>
    <div><fa-icon [icon] = "faFileMedical"></fa-icon><h1>Reports</h1></div>
    <div class = "border-bottom"></div>
    <div><fa-icon [icon] = "faGear"></fa-icon><h1>Settings</h1></div>
    <div><fa-icon [icon] = "faCircleQuestion"></fa-icon><h1>Help</h1></div>
    <div><fa-icon [icon] = "faRightFromBracket"></fa-icon><h1>Logout</h1></div>
</div>

