h1
{
    text-align: left;
font: normal normal bold 18px/48px Helvetica;
letter-spacing: 0px;
color: #696969;
opacity: 1;
}


.cont
{
    width: 380px;
height: 779px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 3px 4px 5px #E5ECF1;
border: 1px solid #E5ECF1;
border-radius: 10px;
opacity: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.msgs
{
    display: flex;
    flex-direction: column;
}

.msg
{
    margin-top: 20px;
}

.msg-content
{
    margin-top: 10px;
    margin-left: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.msg:hover .clipboard {
    display: inline;
  }

.reply-msg
{
    margin-top: 20px;
    margin-right: 15px;
}

.reply-msg:hover .clipboard
{
    display: inline;
}


.reply-msg .msg-box
{
  max-width: 70%;
    background: #E9F8FF 0% 0% no-repeat padding-box;
box-shadow: 0px 1px 2px #00000029;
border-radius: 10px;
opacity: 1;
    margin-left: auto;
}


.reply-msg .circle
{
    margin-left: 10px;
}

.circle {
    width: 30px; /* Adjust the width and height to your desired size */
    height: 30px;
    background-color: white;
    border-radius: 50%; /* Makes the shape a circle */
    display: flex;
    align-items: center;
    justify-content: center;
    border: #00AAF6 1px solid;
  }


.circle fa-icon
{
    color: #8A8A8A;
}



.clipboard
{
    display: none;
    color: #FF808B;
    font-size: 29px;
    margin-left: 10px;
}

.reply-msg .clipboard
{
    margin-left:auto;

}

  .msg-box {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-left: 10px;
    background: #F1F1F1;
    box-shadow: 0px 1px 2px #00000029;
    border-radius: 10px;
    opacity: 1;
  }
  
  p {
    text-align: left;
    font: normal normal normal 16px/22px Helvetica;
    letter-spacing: 0px;
    color: #343434;
    opacity: 1;
    margin: 0;
  }
  
  h2{
    padding-top: 5px;
    padding-left: 60px;
    margin:0;
    text-align: left;
    font: normal normal normal 14px Helvetica;
    letter-spacing: 0px;
    color: #8A8A8A;
    opacity: 1;
  }

  .msg h2

  {
    padding-left: 60px;
  }

  .reply-msg h2
  {
    text-align: right;
    padding-right: 40px;
  }



  .send-msg
  {
    width: auto;
    border-top: 1px solid #E5ECF1;
    display: flex;
    justify-content: space-between;
  }

  .send-btn
  {
    margin: 20px;
    width: 50px; /* Adjust the width and height to your desired size */
    height: 50px;
    border-radius: 50%; /* Makes the shape a circle */
    display: flex;
    align-items: center;
    justify-content: center;
    background: #00AAF6 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #00000029;
opacity: 1;
  }


  input
  {
    width: auto;
    border: none;
  }

  input::content
  {
    outline: none;
    padding-left: 20px;

  }


  .paperplane
  {
    color: white;
    font-size: 20px;
  }