
<h1>Secure Messages</h1>
<div class = "cont">
    <div class = "msgs">
        <div class = "msg">
            <div class = "msg-content">
                <div class = "circle"><fa-icon [icon] = 'faUser'></fa-icon></div>
                <div class = "msg-box"><p>Thanks doc!</p></div>
                <fa-icon class = "clipboard" [icon] = 'faClipboard'></fa-icon>
            </div>
            <h2>08:10 pm</h2>
        </div>
        <div class = "msg">
            <div class = "msg-content">
                <div class = "circle"><fa-icon [icon] = 'faUser'></fa-icon></div>
                <div class = "msg-box"><p>Please upload latest reports</p></div>
                <fa-icon class = "clipboard" [icon] = 'faClipboard'></fa-icon>
            </div>
            <h2>08:10 pm</h2>
        </div>
        <div class = "reply-msg">
            <div class = "msg-content">
                <fa-icon class = "clipboard" [icon] = 'faClipboard'></fa-icon>
                <div class = "msg-box"><p>Your reports are now uploaded to the system.</p></div>
                <div class = "circle"><fa-icon [icon] = 'faUser'></fa-icon></div>
            </div>
            <h2>08:10 pm</h2>
        </div>
        <div class = "msg">
            <div class = "msg-content">
                <div class = "circle"><fa-icon [icon] = 'faUser'></fa-icon></div>
                <div class = "msg-box"><p>Ok, I'll take a look.</p></div>
                <fa-icon class = "clipboard" [icon] = 'faClipboard'></fa-icon>
            </div>
            <h2>08:10 pm</h2>
        </div>
    </div>
    <div class = "send-msg">
        <input type = "text" placeholder = "Your message">
        <div class = "send-btn"><fa-icon class="paperplane" [icon] = "faPaperPlane"></fa-icon></div>
    </div>
</div>
